
<header>
  <div class="container">
    <a routerLink="/" class="logo">OUbR PlayStore</a>
    <nav>
      <ul>
        <li  class="menu-container">
          <a routerLink="/dashboard">Espace Client</a>
          <div class="menu">
            <a routerLink="/register">s'enregistrer</a>
            
          <a routerLink="/login">Login</a>
        </div>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Client Commande</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/order">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
